build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
/.vs/qsg-news/FileContentIndex
/.gitignore
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/qsg-news/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/.vs/qsg-news/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
/.vs/qsg-news/copilot-chat/275e1be7/sessions/c248a9b1-8036-48c2-ac7e-5ee4659c39ce
/.vs/qsg-news/v17/.wsuo
/.vs/qsg-news/v17/.wsuo
/.gitignore
/.gitignore
/.gitignore
/.vs/qsg-news/v17/.wsuo
